asgiref
Django>=4.0.0
django-cors-headers
django-dotenv
django-phonenumber-field[phonenumbers]
djangorestframework
djangorestframework-simplejwt
meteomatics
psycopg2
PyJWT
pytz
pyyaml
requests
sqlparse
tzdata